.container {
  font-family: sans-serif;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  border: 1px solid rgb(229 229 229);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item .item__add , .cart .empty-cart {
  background-color: rgb(4 181 4);
  border: 1px solid rgb(0 131 0);
  border-radius: 3px;
  cursor: pointer;
  margin: 5px;
  padding: 8px;
  color: white;
  font-weight: 600;
}

.cart .empty-cart {
  background-color: rgb(181 4 4);
  border: 1px solid rgb(131 0 0);
}

.cart {
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
}

.cart .cart__items {
  border: 1px solid rgb(229 229 229);
  padding-top: 20px;
  border-radius: 5px;
  padding-bottom: 20px;
}

.cart .cart__items:empty:before {
  content: 'Você não tem itens no seu carrinho.';
}

.cart .cart__items .cart__item {
  margin-bottom: 15px;
  padding-right: 20px;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 16pt;
  text-align: center;
}

body > .loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 20px;
  text-align: center;
  padding-top: 100px;
  font-weight: 600;
}

#total:before {
  content: 'Preço total: $';
}
